.jumbotron{
    text-align: center;
    
}
#inputField{
    width: 18em;
}
.container{
  display: flex;
  width:50em;
  position: relative;
  bottom: 4.5em;
  left: 9em; 

}

#currentSearch{
    width:50em;
    display: flex;
    position: relative;
    bottom: 4.5em;
    left: 20em; 
    /* bottom: 70px;
    left: 300px; */
    /* text-align: center; */
}
/* #currentSearch h2 {
    text-align: center;
}